{% extends 'base.html' %} 
{% block content %} 
{% if user.is_authenticated %} 
{% if records %}

<div class="d-flex justify-content-between align-items-center mt-3">
  <h2 class="">All Records</h2>
  <button class="btn btn-success mt-3 mb-3">
    <a href="{% url 'add_record'%}" class="text-white text-decoration-none">Add New Record</a>
  </button>
</div>

<table
  class="table table-striped table-hover table-bordered mt-3 table-responsive"
>
  <thead class="table-dark">
    <tr>
      <th scope="col ">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip Code</th>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
    <tr>
      <th scope="row">
        <a href="{% url 'record_detail' record.id %}" class="link-primary"
          >{{ forloop.counter }}</a
        >
      </th>
      <td class="">{{ record.first_name }}</td>
      <td>{{ record.last_name }}</td>
      <td>{{ record.email }}</td>
      <td>{{ record.phone }}</td>
      <td>{{ record.address }}</td>
      <td>{{ record.city }}</td>
      <td>{{ record.state }}</td>
      <td>{{ record.zipcode }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% else %}
<div class="jumbotron mt-4">
  <h1 class="display-4">Welcome to Django CRM!</h1>
  <p class="lead">
    This is a simple Customer Relationship Management (CRM) application built
    with Django.
  </p>
  <hr class="my-4" />
  <p>
    Please <a href="{% url 'loginurl' %}">login</a> or
    <a href="{% url 'registerurl' %}">register</a> to manage your customers.
  </p>
</div>
{% endif %} {% endblock %}
